{% extends 'base.html.twig' %}

{% block title %}Inscription - Dream-Gym{% endblock %}

{% block body %}
    <div class="container-connexion d-flex flex-column align-items-center">
        <h1 class="my-4">Formulaire d'inscription</h1>
        {{form(form)}}
    <hr class="border-light w-100 my-5">
    </div>
{% endblock %}