<div class="banniere">
        <main>
            <div>
                <h1>Découvrez notre univers
                    <br/>
                        DREAM-<strong>GYM</strong>
                </h1>
            </div>
            <div>
                <iframe src="https://www.youtube.com/embed/Z_hl0Aq4yPk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </main>
    </div>