<div class="banniere_3">
    <span><h1 class="box">Trouves ta salle de sport pres de chez toi !</h1></span>
    <form class="d-flex my-2 my-lg-0 box box1">
        <input class="me-sm-2" type="text" placeholder="Nom,Ville,Adresse..."/>
        <button class="btn btn-outline-custom my-sm-0" type="submit">OK</button>
    </form>
</div>