<div class="banniere_4 py-5" id="ancre">
    <span class="box">
        <h1>Inscris-toi !</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, nostrum porro! Optio incidunt, numquam id quos, eius at laudantium explicabo atque blanditiis voluptatum recusandae possimus quasi perferendis cumque ipsum quae.</p>
        <a class="btn btn-inscription" href="{{path('app_registration')}}">Clique ici !</a>
    </span>
</div>