<div class="banniere_2">
    <h1 class="box">DREAM-GYM<br/>C'EST QUOI ?</h1>
    <span><p class="box box1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et ratione amet consectetur animi? Magnam, ab ratione harum repellendus veritatis dolores exercitationem omnis! Corrupti enim veritatis omnis delectus illo adipisci deleniti!</p></span>
</div>