{% extends 'base.html.twig' %}
{% block body %}
    <div class="backgroundProgramme">
    <div class="container">
        <h1 class="pt-4">
            Création d'un nouveau programme
        </h1>
        {{form(form)}}
    </div>
    </div>
{% endblock %}
