{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe de l'utilisateur - Dream-Gym{% endblock %}

{% block body %}
    <div class="container-connexion d-flex flex-column align-items-center">
        <h1 class="mt-4">Modification du mot de passe utilisateurs</h1>
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning mt-4">
                {{message}}
            </div>
        {% endfor %}
        {{form(form)}}
        {% if app.user %}
        <br>
        <a class="btn btn-secondary" href="{{ path('app_account', {id: app.user.id}) }}">Retour à mon compte</a>   
        {% endif %}
        <hr class="border-light w-100 my-5">
    </div>
{% endblock %}
